<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eis1415.rebecca.simon.snaico" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".DataStore"
        android:allowBackup="true"
        android:icon="@drawable/snico"
        android:label=" "
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SNAICOSplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=" "
            android:theme="@style/Theme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SNAICOOverview"
            android:label=" " >
        </activity>
        <activity
            android:name=".SNAICOFirstStart"
            android:label=" "
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SNAICONewCompany"
            android:label=" "
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SNAICONewCompanyCode"
            android:label="@string/title_activity_snaiconew_company_code" >
        </activity>
        <activity
            android:name=".SNAICOJoinCompany"
            android:label="@string/title_activity_snaicojoin_company" >
        </activity>
        <activity
            android:name=".SNAICOOverviewStaff"
            android:label=" " >
        </activity>
    </application>

</manifest>
